# Terraform local files
# Terraform local files
@"
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
"@ | Set-Content .gitignore

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json